/* -----------------------open screen---------------------------------------------------------------- */

#collegeLogo {
    position: absolute;
    top: 1vh;
    width: 15vw;
    right: 1vw;
}

@font-face {
    font-family: Heebo;
    src: url("assets/fonts/Heebo-VariableFont_wght.ttf");
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Heebo";
    direction: rtl;
    background-color: #f4f1de;
    overflow: hidden; 
}

#title {
    position: absolute;
    top: 22vh;
    right: 20vw;
    font-size: 11vmin;
    font-weight: bold;
    color: #3d405b;
    text-align: center;
    z-index: 2;
}

#circle {
    position: absolute;
    top: 16vh;
    right: 3vw;
    background-color: #f9f7eb;
    border-radius: 53%;
    width: 94vw;
    height: 60vh;
    z-index: 1;
}

#fingerPrint {
    position: absolute;
    top: 44vh;
    right: 34vw;
    width: 31vw;
    z-index: 2;
}

#line {
    position: absolute;
    top: 45vh;
    right: 34.3vw;
    border-top: 4px solid green;
    border-bottom: none;
    width: 30.5vw;
    animation: upAndDown 2s linear;
    z-index: 2;
}

@keyframes upAndDown {

    0%,
    100% {
        top: 45vh;
    }

    50% {
        top: 65vh;
    }
}

#logo {
    position: absolute;
    top: 41vh;
    right: 20vw;
    width: 60vw;
    z-index: 3;
}

#btn {
    position: absolute;
    top: 82vh;
    right: 33vw;
    width: 33vw;
    height: 7vh;
    font-size: 4.5vmin;
    font-family: Heebo;
    border-radius: 15px;
    border: 2px solid #e89024;
    color: #e89024;
    cursor: pointer;
    z-index: 2;
}

.animationShow {
    animation: opacityUp 1s ease-in-out;
}

@keyframes opacityUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

/* ------------------------reception------------------------------------------------------------------------------------- */

#reception {
    display: none;

}

#reception-div {
    position: absolute;
    left: 100vw;
}

#register {
    position: absolute;
    top: 64vh;
    right: 0vw;
    width: 96vw;
}

#text-register {
    position: absolute;
    top: 31vh;
    right: 9vw;
    width: 81vw;
    font-size: 5vmin;
    text-align: center;
}

#arrow {
    position: absolute;
    top: 46vh;
    width: 24vw;
    cursor: pointer;
}

.animationLR {
    animation: leftAndRight 1s linear infinite;

}

@keyframes leftAndRight {

    0%,
    100% {
        right: 42vw;
    }

    50% {
        right: 34vw;
    }
}

.goLeft {
    animation: animationgoLeft 1s linear;
}

@keyframes animationgoLeft {
    0% {
        left: 0vw;
    }

    100% {
        left: 2vw;
    }
}

/* ------------------------hand-id------------------------------------------------------------------------------- */

#hand-id {
    display: none;
}

#handWithId {
    position: absolute;
    right: 3vw;
    top: 24vh;
    width: 91vw;
}

.opacityChange {
    animation: opChange 1s linear;
}

@keyframes opChange {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


#text-id {
    position: absolute;
    top: 75vh;
    right: 27vw;
    width: 46vw;
    font-size: 5vmin;
    text-align: center;
}

#idDiv {
    position: absolute;
    top: 34vh;
    right: 33vw;
    width: 46vw;
    height: 17vh;
    border-radius: 36px;
    background-color: transparent;
}

#main-page {
    display: none;
}

/* ------------------main page--------------------------------------------------------------------------- */

#main-page {
    direction: rtl;
    height: 100vh;
    width: 100vw;
    background-image: url('background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header {
    position: absolute;
    top: 8vh;
    left: 14vw;
    font-size: 6vmin;
}

#imgLogo {
    top: 2.5vh;
    left: 4.1vw;
    position: absolute;
    width: 19vw;
    height: 15vh;
}

#imgLogoDiv{
    position: absolute;
    width: 26vw;
    height: 21vh;
    z-index: 3;
    border: 2px solid #494848;
    border-radius: 26px;
    background-color: #e89024;
}

#idCard {
    position: absolute;
    top: 20vh;
    left: 2vw;
    width: 94vw;
    height: 64vh;
    border-radius: 57px;
    border: 3px solid #d4dce3;
    background-color: aliceblue;
}

#navBar {
    position: absolute;
    top: 97vh;
    left: 3vw;
    width: 93vw;
    height: 0.3vh;
    background-color: black;
    display: block;
}

/* .circle {
    border-radius: 84px;
    background-color: black;
    width: 1vw;
    height: 2vh;
    margin-bottom: 1vh;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.6);
        cursor: pointer;
    }
} */

.header {
    position: relative;
    position: relative;
    top: 2vh;
    left: 10vw;
    margin: 2vh;
    display: block;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 1.6vw;
    height: 90vh;
    justify-content: space-between;
}


.text {
    font-size: 4vmin;
    position: absolute;
}

#imgDiv {
    top: 9vh;
    left: 61.1vw;
    width: 27vw;
    position: absolute;
    height: 22vh;
    background-color: #e6edf3;
    border-radius: 27px;
    z-index: 2;
}

#lastName {
    top: 11vh;
    left: 32vw;
}

#firstName {
    top: 20vh;
    left: 35.6vw;
}

#birthDate {
    top: 30vh;
    left: 32.4vw;
}

#date {
    top: 38vh;
    left: 31.8vw;
}

#expiration {
    top: 46vh;
    left: 42vw;
}

#numbers {
    top: 55vh;
    left: 3vw;
    width: 36vw;
    position: absolute;
    height: 5vh;
    background-color: #f8fcff;
    border-radius: 73%;
    color: #e1eaf3;
    text-align: center;
    font-size: 4vmin;
    padding-top: 2vh;
}

#idNumbers {
    position: absolute;
    top: 36vh;
    left: 65vw;
    color: #cad0d6;
    font-size: 4vmin;
}

#chip {
    top: 12vh;
    left: 3vw;
    width: 15vw;
    position: absolute;
    height: 8vh;
    background-color: #f1ede9;
    border-radius: 7px;
}

.clickHere {
    animation: click 1s linear infinite;
}

@keyframes click {

    0%,
    100% {
        transform: scale(1);
        border: 3px solid rgb(255, 157, 0);
    }

    50% {
        transform: scale(1.06);
        border: 3px solid rgb(255, 157, 0);
    }
}

/* -----------------------imgDiv-page---------------------------------------------- */

#imgDiv-page {
    display: none;
}

#title-imgDiv {
    position: absolute;
    top: 1vh;
    left: 44vw;
    font-size: 6vmin;
}

.shadow {
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-color: #00000082;
    z-index: 1;
    position: absolute;

}

#divInstructions {
    position: absolute;
    top: 21vh;
    left: 8vw;
    background-color: white;
    width: 62vw;
    height: 38vh;
    padding: 6vh;
    text-align: center;
    font-size: 4vmin;
    z-index: 2;
    border-radius: 20px;
}

#startBtn {
    position: absolute;
    top: 41vh;
    left: 30vw;
    width: 19vw;
    height: 4vh;
    font-size: 4vmin;
    font-family: Heebo;
    border-radius: 8px;
    border: 2px solid #e89024;
    color: #e89024;
    z-index: 3;
}

.hats {
    position: absolute;
    width: 25vw;
    z-index: 0.5;
}

#hat1 {
    top: 19vh;
    left: 23vh;
}

#hat2 {
    top: 39vh;
    left: 22vh;
}

#hat3 {
    top: 59vh;
    left: 22vh;
}

#hatTextDiv {
    position: absolute;
    width: 51vw;
    height: 57vh;
    top: 11vh;
    left: 9vw;
    background-color: #efefeff2;
    border: 2px solid #aba79e;
    z-index: 2;
    padding: 9vh;
    border-radius: 20px;
    display: none;
}

#nextBtn {
    position: absolute;
    top: 78vh;
    left: 40vw;
    width: 23vw;
    height: 5vh;
    font-size: 3.5vmin;
    font-family: Heebo;
    border-radius: 8px;
    border: 2px solid #e89024;
    color: #e89024;
    z-index: 2;
    display: none;
}

#doneBtn {
    position: absolute;
    width: 26vw;
    height: 7vh;
    top: 83vh;
    left: 35vw;
    background-color: #85827c;
    border: 2px solid #ffffff;
    border-radius: 14px;
    font-size: 5vmin;
    color: white;
    font-family: Heebo;
    display: none;
}


/* ------------------------------------birthDate------------------------------------------------- */


#birthDate-page{
    display: none;
}

#title-birthDate{
    position: absolute;
    top: 1vh;
    left: 28vw;
    font-size: 6vmin;
}

#doneBookBtn{
    position: absolute;
    width: 26vw;
    height: 7vh;
    top: 83vh;
    left: 35vw;
    background-color: #85827c;
    border: 2px solid #ffffff;
    border-radius: 14px;
    font-size: 5vmin;
    color: white;
    font-family: Heebo;
    display: block;
}

  .bookWrapper {
    width:700px;
    height:450px; 
  }
  .bookBg {
    position:relative;
    background-color: transparent;
    width:100%;
    height:100%;
    border-radius: 12px;  
  }
  .centerClass {
    position:absolute;
    left:50%;
    top:50%;
  }
  .pageBg {
    background-color: transparent;
    width:652px; 
    height:422px;
    border-radius: 0px;
  }
  .spineCenter {
    width:2px; 
    height:422px;
    border-radius: 0px;
    background:rgba(101,101,101,.4);
  }
  .pageWrapper {
    position: absolute;
    top: 10vh;
    left: 5vw;
    right: -8vw;
    width: 50vw;
    height: 50vh;
    float: left;
    -webkit-font-smoothing: antialiased;
    z-index: 2;
  }
  .pageFace {
    position: absolute;
    top: 14vh;
    left: -1vw;
    width: 45vw;
    height: 332px;
    overflow: hidden;
    text-align: center;
  }
  .front {
    background: linear-gradient(to right,  #d9d9d9 0%,#f9f9f9 3%,#ffffff 8%,#ffffff 100%);
    
  }
  .back {
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 92%,#f9f9f9 97%,#d9d9d9 100%);
  }
  .pageFoldRight {
    position: absolute;
      width:  0px;
      height: 0px;
      top:  0;
      right: 0;
      border-left-width: 1px;
      border-left-color: #DDDDDD;
      border-left-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #DDDDDD;
      border-bottom-style: solid;
      box-shadow: -5px 5px 10px #dddddd;
  }
  .pageFoldLeft {
     position: absolute;
      width:  0px;
      height: 0px;
      top:  0;
      left: 0;
      border-right-width: 1px;
      border-right-color: #DDDDDD;
      border-right-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #DDDDDD;
      border-bottom-style: solid;
      box-shadow: 5px 5px 10px #dddddd;
  }
  
  #myBookBg{
    position: absolute;
    top: 22vh;
    left: 84vw;
    width: 94vw;
    height: 96vw;
    background-color: pink;
    z-index: 1;
    border-radius: 18px;
  }
  